# **Lesson 1: Basic Python Introduction**
written by: Luke Devereux 2022

**Hello and welcome!**
Today we will run through the basic Python skills.

Python is very useful as it's an open source programming language that can let us do some very complex things for free. So it is very beneficial for any budding analysis nerds. 

If you have any questions just let me know. And don't worry if you get stuck at times. Coding is all about trial and error (and then Googling things to try and solve those errors!).

We are running this in Google Colab. In Colab you will have some input spaces, and when you run these you will get an output. So it's quite handy for going step by step. You can also add 'code' or 'text' if you hover over a line.

Also any code you see after a hashtag '#for example like this', means it is a comment. Comments are ignored by Python and are useful for us.

`print('Hello World) # after the hashtag is a comment.`

Comments are very helpful for you to leave yourself when coding. They let you rememeber what your code does, but it also helps other people if they look at your code.

Today we will look at:


*   Basic calculations
*   Variables


*   Numbers
*   Text and input


*   Lists
*   For loops

**Basic Calculations in Python:**

Let's look at some basic things in Python. Such as using it as a calculator and creating some variables. Let's first use it as a calculator.

In [ ]:
2+2 #simple addition, here we are just adding 2+2

4

**TASK** Try doing some other basic calculations. I don't know...maybe 3+4.
Here are some symbols you can use:

*   addition: +
*   subtract: -


*   Multiply: * e.g. 10*2
*   Divide: / e.g. 10/2

Enter some below, and then maybe add your own line of code. Maybe add some comments using # that describe what your code is doing

We can also store various things in variables. For example we store the result of 2+2 in the variable x. It doesn't have to be x, it could be named MyFirstVariable if you wanted.

In [ ]:
x = 2+2 #create a variable called x. Or we could do MyFirstVariable = 2+2

We can then run this variable by just typing in x and running this

In [ ]:
x #lets run x to see if it shows our contents of the variable

4

Lets create a second variable to store the number 56 in. We shall name this variable y. But again you could name it anything.

In [ ]:
y = 56 #create a variable called y

We can then start playing with these variables. For example, adding them together, subtracting them etc.

In [ ]:
x+y #addition

60

In [ ]:
x-y #subtract

-52

In [ ]:
x*3 #multiply by 3

12

Let's store something in a new variable now. We will give it the imaginative title of New_variable. When naming variables you have to make sure it is all one statement, so we can use_ to help join things. e.g. New_variable and not New variable.

In [ ]:
#Let's store something as a combination of our above variables and name it New_variable
New_variable = x*y #this stores the result of x*y as a new variable

Now let's look at this new variable

In [ ]:
New_variable

224

We can store different things in variables. For example text can be stored as a string of text. We will store it as Text1.

It's is useful to be familiar with text as well, as we may have to do analysis on text.

In [ ]:
#Lets try this with text now. 

Text1 = 'Hello world you fun world you.' #Text is inputted as a string 'in these' ''

Now lets run our variable.

In [ ]:
Text1

'Hello world you fun world you.'

Let's create another variable called Text 2

In [ ]:
Text2 = 'I LOVE analytics so much'

We can add these together then and start playing with them.

In [ ]:
Text1 + Text2

'Hello world you fun world you.I LOVE analytics so much'

Or maybe combine it with our previous variable x. Here we multiply Text1 by the value of x.

In [ ]:
Text1 * x #we can even combine these things. Here we multiple Text 1 by our previous variable x

'Hello world you fun world you.Hello world you fun world you.Hello world you fun world you.Hello world you fun world you.'

In [ ]:
print(Text1) #this prints the variable Text1

Hello world you fun world you.

In [ ]:
print(Text1*3) #this prints it 3 times

Hello world you fun world you.Hello world you fun world you.Hello world you fun world you.

**Task 1**: Create a new variable (name it whatever you like) and store 
some new text in it. Add a comment using # that says what it is doing. Then try playing around with it using some of the examples above. So try multiplying it by a number.

**Task 2**: Create a second new variable (name it whatever you like) and store some new text in it. Then try and output your first new variable and your second one using +

We can also take user input and use it in this manner. We can do this using the input() function. Run the below code. Once you have inputted your name, hit enter.

In [ ]:
name = input('what is your name?(press enter when done)') #creates a variable called name and put in it the result of the input box

what is your name?(press enter when done)Franco

In [ ]:
name #runs to test it is now stored as the variable 'name'

'Franco'

We can then combine this with other things (which is how lots of sites/apps etc will personalise things). So let's create another variable called 'message' and store some text in it.

In [ ]:
message = 'loves marketing so much. In fact so much that it is a little embarrassing' #creates message variable with some text in it.

In [ ]:
name #just check our name variable again

'Franco'

Now let's add these two things together.

In [ ]:
name+message # we can print them together

'Francoloves marketing so much. In fact so much that it is a little embarrassing'

You may notice the name joins with the first word. You will soon see that programming language will follow your exact instruction a lot of the time. So you need to be specific. In this instance, we probably need to put a space in somewhere.

In [ ]:
name+ ' '+message #we have added a space now using ' '

'Franco loves marketing so much. In fact so much that it is a little embarrassing'

**Task** Create a new message to combine with the name variable and run it. Please keep your new messages family friendly and not offensive!

In [ ]:
message

'loves marketing so much'

Another key programming area is looking at functions. This lets us pretty much create anything we want. Here is a very simple example of a function that takes a name and then delivers a message as output. This makes a more versatile approach than what we just did. This allows anyone to put their name into it. So its more flexible

First we define a function using 'def'

In [ ]:
def function_fun (name): #creates a function called function_fun and says it will need a name as input
  print(name + ' is super not cool') #wehn we run the function it will print the name and a message

In [ ]:
function_fun("Luke") # you need to enter the name in ""

Luke is super not cool

Trying using this function but typing in different names. Or even start playing with the message as well

Or we can try expanding its inputs by incorporating other things

In [ ]:
def function_fun2 (name, thing): #creates a function called function_fun2 and say it will need a name as input, and a thing
  print(name + ' absolutely loves ' + thing) #when we run the function it will print the name and a message and the 'thing

In [ ]:
function_fun2("Luke", "films")

Luke absolutely loves films

Of course we would create more serious functions. And in analysis we can create functions that do particular forms of analysis.  BUt this was just a short intro to functions and how to make them

# Playing with numbers and lists

Lets play with some numbers now. As data is often numbers as well as text. We will also introduce something called lists which are stored in square brackets [ ].

Lets create some list of things e.g. a list of numbers.


We will name it group1

In [ ]:
group1 = [ 2, 4, 5, 67, 89, 34, 23, 2, 65, 2, 45] #this is stored in a list [] called group1

In [ ]:
group1 # lets test it came in. I usually do this just to check things have worked.

[2, 4, 5, 67, 89, 34, 23, 2, 65, 2, 45]

Now we have our list, let's find some data about it. This is where we start getting a feeling for our bit of data. Obviously this is a very small set of data but still.

What is the minimum number?

In [ ]:
min(group1) #minimum

2

What is the max?

In [ ]:
max(group1) #maximum

89

What is the length of the list?

In [ ]:
len(group1) #tells us the length of the dataset

11

The sum of the list?

In [ ]:
sum(group1)

338

How many times does the number '2' appear in there?

In [ ]:
group1.count(2) #how many times does 2 appear in here. Maybe we would want to find how many times a customer appears in something?

3

Is a number in the list? This will report back TRUE or FALSE. Try out different numbers. Here we will ask is the number 5 in group1?

In [ ]:
5 in group1 #this checks if something is in your variable. Maybe we want to check if a customer is in a list?

True

In [ ]:
6 in group1 #this checks if soemthing is in there. In this case it isnt.

False

We can also isolate things in the list. E.g we want to look for the third item in the list.

In [ ]:
group1[3] #we can then isolate numbers in here

67

In [ ]:
group1[1]+group1[3] #or add them

71

In [ ]:
print(group1[3]) #print individually
print(group1[4])

67
89

We can add things to the list using append(). Here we will add the number 78 to the list. For example we may want to add a customer to a list.

In [ ]:
group1.append(78) #this adds 78 to our group 1.

In [ ]:
group1 #lets run it to see if it is added.

[2, 4, 5, 67, 89, 34, 23, 2, 65, 2, 45, 78]

**TASK** Try creating a new group of numbers and storing it in the variable group2.

**TASK** Add some numbers to your group2 variable using .append()

In [ ]:
#we can even start with empty lists and then add to them

In [ ]:
firstlist = [] #creates an empty list called firstlist

In [ ]:
firstlist.append(2) #adds in the number 2 into our empty list

In [ ]:
firstlist

[2]

In [ ]:
#lets add some more numbers in
firstlist.append(34)

In [ ]:
firstlist

[2, 34]

If we want to add multiple numbers we can use extend()

In [ ]:
firstlist.extend([36,98,61,23,23,]) #this adds in multiple items to the list

In [ ]:
firstlist #lets print our list out

[2, 34, 36, 98, 61, 23, 23]

In [ ]:
firstlist.count(23) #check the count of number 23

2

One advantage of programming is we can create for loops. These will do something to a list for example for every item in it. here is a for loop that asks to print out each number in group1. First lets remind ourselves what was in group1 by running it.

In [ ]:
group1

[2, 4, 5, 67, 89, 34, 23, 2, 65, 2, 45]

Now lets make a for loop that prints out each of these

In [ ]:
for i in group1: # a for every 'thing' in group1
  print(i) #print it out

2
4
5
67
89
34
23
2
65
2
45

And here is one where we ask it to print it out by multiply it by 3

In [ ]:
for i in group1: # a for every thing in group1
  print(i*3) #print it but multiple it by 3

6
12
15
201
267
102
69
6
195
6
135

In [ ]:
for i in group1: # a for every thing in group 1
  print(i*i) #print it multiplying it by itself

4
16
25
4489
7921
1156
529
4
4225
4
2025

That is the end of todays sesssion. I hope that was a interesting start to looking at some python basics. Below are some tasks should you wish to carry out some more practice (or we may do these in class)

**TASKS:** 


*   Create an second list and name it SecondList and fill it with 5 random numbers


*   Then use extend() to add in 5 more random numbers e.g. ([23,67,89,56,34,])
*   Create a for loop that prints out each number in your list and multiplies it by 2

And just soemthing as a little goodbye

In [ ]:
%%html 
<center><h1><b> Well done everyone! Catch you in the next session!</b></h1></center>

In [ ]:
#%%html
#<marquee style='width: 50%; color: blue;font-size:30px;'><b>Well done! I hope you enjoy this super retro congratulations banner!</b></marquee>